h1{
    color: black;
    font-size: 40px;
}
.card-new{
    display: flex;
    gap: 300px;
    margin-top: 50px;
    align-items: center;
}
.card-header{
    position: absolute;
    left: 700px;
}
.card-div{
    display: flex;
    border: 10px solid black;
    margin-top: 30px;
    width: 500px;
    padding: 10px;
}
.card-b{
    position: absolute;
    left: 400px;
}
p{
font-size: 23px;
}
img{
    width: 100%;
}
.card-new{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
    padding: 10px;
}