.card-header{
    display: flex;
    margin-left: 200px;
    margin-right: 200px;
    gap: 20px;
    color: white;
    background-color:none;
}
body{
    background-image:url('/Users/evening/Desktop/blog-web/public/image_970_enlarge-1.jpg')  ;
    
}
h1{
    font-size: 100px;
}
